<div id="container" *ngIf="!isLoading">
  <app-brief
    id="brief"
    [temp]="weatherResult?.current?.temp"
    [tempMin]="todayWeather?.temp?.min"
    [tempMax]="todayWeather?.temp?.max"
    [city]="cityName"
    [feels]="weatherResult?.current?.feels_like"
    [icon]="weather?.icon"
    [desc]="weather?.description"
  ></app-brief>
  <app-detail
    id="detail"
    [wind]="weatherResult?.current?.wind_speed"
    [humidity]="weatherResult?.current?.humidity"
    [dew]="weatherResult?.current?.dew_point"
    [pressure]="weatherResult?.current?.pressure"
    [uv]="weatherResult?.current?.uvi"
    [sunrise]="todayWeather?.sunrise"
    [sunset]="todayWeather?.sunset"
    [timeOffset]="weatherResult?.timezone_offset"
  ></app-detail>
  <app-hourly
    id="hourly"
    [hours]="weatherResult?.hourly"
    [timeOffset]="weatherResult?.timezone_offset"
    [time]="weatherResult?.current?.dt"
  ></app-hourly>
  <app-daily
    id="daily"
    [days]="weatherResult?.daily"
    [timeOffset]="weatherResult?.timezone_offset"
    [time]="weatherResult?.current?.dt"
  ></app-daily>
</div>
<mat-spinner class="loading" *ngIf="isLoading"></mat-spinner>
