<h3>{{ title }}</h3>
<div class="row">
  <mat-icon class="icon">air</mat-icon>
  <h4>{{ windTitle }}</h4>
  <span>{{ wind }} {{ windUnit }}</span>
</div>
<div class="row">
  <mat-icon class="icon">water_drop</mat-icon>
  <h4>{{ humidityTitle }}</h4>
  <span>{{ humidity }} %</span>
</div>
<div class="row">
  <mat-icon class="icon">water_drop</mat-icon>
  <h4>{{ dewTitle }}</h4>
  <span>{{ dew | number: "1.0-0" }}&#176;</span>
</div>
<div class="row">
  <mat-icon class="icon">compress</mat-icon>
  <h4>{{ pressureTitle }}</h4>
  <span>{{ pressure }} {{ pressureUnit }}</span>
</div>
<div class="row">
  <mat-icon class="icon">flare</mat-icon>
  <h4>{{ uvTitle }}</h4>
  <span *ngIf="uv && 3 > uv">{{ uv | number: "1.0-0" }} {{ uvStatus1 }}</span>
  <span *ngIf="uv && 6 > uv && uv > 3"
    >{{ uv | number: "1.0-0" }} {{ uvStatus2 }}</span
  >
  <span *ngIf="uv && 9 > uv && uv > 6"
    >{{ uv | number: "1.0-0" }} {{ uvStatus3 }}</span
  >
  <span *ngIf="uv && uv > 9">{{ uv | number: "1.0-0" }} {{ uvStatus4 }}</span>
</div>
<div class="row">
  <mat-icon class="icon">brightness_5</mat-icon>
  <h4>{{ sunriseTitle }}</h4>
  <span>{{ sunrise | date: "H:MM" }}</span>
</div>
<div class="row">
  <mat-icon class="icon">brightness_6</mat-icon>
  <h4>{{ sunsetTitle }}</h4>
  <span>{{ sunset | date: "H:MM" }}</span>
</div>
